{% extends 'base.html' %} {% block content %}

<h1 class="p-3 m-3 text-center">Experimental absortion curve</h1>

<div class="text-center">
    <a href="{% url 'create_task' %}" class="btn btn-primary">Upload Curve</a>
</div>
<div class="row">

{% load static %}
{% for task in tasks %}
    <div class="col-xs-2 m-3">
      <div class="card m-3" >
      
          <div class="card-header" style="font-weight: bold;"> 
            {{task.title}} 
            {% if task.done %}
              <img src="{% static 'checked.png' %}" class="m-1" alt="done" style="width: 15px; height: 15px;"> <div style="font-size: x-small">Status: [Done]</div>
            {% else %}
              <img src="{% static 'wall-clock.png' %}" class="ml-1" alt="done" style="width: 15px; height: 15px;"> <div style="font-size: x-small">Status: [Pending]</div>
            {% endif %}
            <p style="font-size: x-small">      at  {{task.created }}</p>
          </div> 

          
          <div class="card-body ">{{task.description}}</div>
          <div class="card-footer" style="display: flex;">
            <a href="{% url 'task_detail' task.id %}" class="btn btn-secondary m-1">View</a>
            <form action="{% url 'delete_task' task.id %}" method="POST">
              {% csrf_token %}
              <button  class="btn btn-danger m-1">
                Delete
              </button>
            </form>
          </div>
      </div>  
    </div>
{% endfor %}

</div>

{% endblock %}
