asgiref==3.5.2
autopep8==1.7.0
# backports.zoneinfo==0.2.1
Django==4.1
pycodestyle==2.9.1
sqlparse==0.4.2
toml==0.10.2
FrEIA==0.2
matplotlib==3.7.1
nbformat==5.8.0
numpy==1.24.3
pandas==2.0.1
plotly==5.14.1
scipy==1.10.1
torch==2.0.0
ipykernel==6.4.1
dj_database_url==2.0.0
psycopg2-binary==2.9.6
whitenoise==6.4.0
Brotli==1.0.9
gunicorn==20.1.0